*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.headerr{
    margin-top: 2px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}
.logo{
    width: 150px;
}
.nav-item>ul{
    padding: 0px 30px;
    display: flex;
    gap: 40px;
    margin-right: 76px;
}
.nav-item>ul>li{
    list-style: none;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
.nav-item>ul>li:hover{
    color: blue;
    text-decoration: underline;
}

.res-ser{
    margin: 20px;
    font-size: 24px;
    font-weight: 600;

}

.res-card{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 29px;

}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.res-card img{
    width: 90%;
    height: 100px;
}